{% extends "blog/base.html" %}
{% block style %}
<style>


</style>
{% endblock  %}
{% block body %}
<div class="container mt-3">
  <div class="row my-2">
    {% for i in blogs %}
    <div class="col-md-6 post">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">{{i.title}}</h3>
          <div class="mb-1 text-muted">{{i.pub_date}}</div>
          <p class="card-text mb-auto">{{i.head0|slice:":75"}}...</p>
          <a href="/blog/blogpost/{{i.post_id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/media/{{ i.thumbnail }}" width="200" height="250" alt="Thumbnail" /> 
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock  %}