{% extends "shop/base.html" %} {% load static %} 
{% block title %} Products Detail - E-commerce{% endblock title %} 
{% block style %}

<style>
  table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  th {
    background-color: #ffa000;
    color: #ffffff;
  }
  th,
  td {
    padding: 10px;
    border: 1px solid black;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
  /* required css to make the rows rounded */
  th:first-child,
  td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  th:last-child,
  td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }
  tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
</style>
{% endblock style %} {% block body %}
<table class="Product-data">
  <tr>
    <th colspan="8" style="text-align: center">Products Details</th>
  </tr>
  <tr>
    <th>ID</th>
    <th>Product_Name</th>
    <th>Category</th>
    <th>Sub-category</th>
    <th>Description</th>
    <th>Price</th>
    <th>Published_date</th>
    <th>Image</th>
  </tr>
  {% for x in Product %}
  <tr style="width: 50%; height: 100px">
    <td>{{ x.product_id }}</td>
    <td>{{ x.product_name }}</td>
    <td>{{ x.category }}</td>
    <td>{{ x.subcategory }}</td>
    <td>{{ x.desc }}</td>
    <td>{{ x.price }}</td>
    <td>{{ x.published_date }}</td>
    <td>
      {% if x.image %}
      <img style="border-radius: 50px" src="{{ x.image.url }}" alt="Product Image" width="100" height="100" />
      {% else %}
      <p>No image available</p>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
